<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miyam.mBoarder.mapper.BoardUserMapper">
	
	<select id="getAllUser" resultType="com.miyam.mBoarder.model.BoardUserDto">
		SELECT idx, user_id, password, name, grade, update_date
		FROM tbl_board_users
	</select>
	
</mapper>