<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="static/header :: commonHead"></head>
<script th:inline="javascript">
	/*<![CDATA[*/
	var contextUrl = [[@{/}]];
	var loginResult = '[[${loginFail}]]';
	/*]]>*/
	$(function() {
		if (loginResult == "1") {
			alert("로그인 실패\n**아이디와 비밀번호를 확인해주세요.**")
		}
		if (loginResult == "0") {
			location.href = ""
		}
		
		var id = getCookie("ck_id")
		
		if (typeof id != "undefined" && id.length > 0) {
			$("#userID").val(id)
			$("#rememberEmailCheck").prop("checked", true)
		}
	});
	
	function openRegistForm() {
		window.open(contextUrl + "regist.do",'ManagerRegist','width=600, height=700, menubar=no, status=no, toolbar=no, scrollbars=no');
	}
	
	function loginCheck() {
		if ($("#userID").val().length <= 0) {
			alert("아이디를 작성해 주세요.");
			$("#userID").focus();
			return false;
		}
		
		if ($("#passwd").val().length <= 0) {
			alert("비밀번호를 작성해 주세요.");
			$("#passwd").focus();
			return false;
		}
		
		if ($("#rememberEmailCheck").is(":checked") == true) {
			var id = $("#userID").val();
			setCookie("ck_id", id, 365)
		} else {
			deleteCookie("ck_id")
		}
		
		return true;
	}
</script>
<body class="bg-gradient-primary">
	<div class="container">
		<!-- Outer Row -->
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-12 col-md-9">
				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Welcome Human!</h1>
									</div>
									<form class="user" name="managerLoginForm" th:action="@{/login.do}" method="post" onsubmit="return loginCheck();">
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												id="userID" name="userID" aria-describedby="emailHelp" placeholder="Enter ID..." />
										</div>
										<div class="form-group">
											<input type="password" class="form-control form-control-user"
												id="passwd" name="passwd" placeholder="Enter Password..." />
										</div>
										<div class="form-group">
											<div class="custom-control custom-checkbox small">
												<input type="checkbox" class="custom-control-input" id="rememberEmailCheck"> 
												<label class="custom-control-label" for="customCheck">Remember Me</label>
											</div>
										</div>
										<input type="submit" class="btn btn-primary btn-user btn-block" value="Login" />
										<hr>
										<a href="javascript://" class="btn btn-google btn-user btn-block">
											<i class="fab fa-google fa-fw"></i> Login with Google
										</a> 
										<a href="index.html" class="btn btn-facebook btn-user btn-block">
											<i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
										</a>
									</form>
									<hr>
									<!--div class="text-center">
										<a class="small" href="forgot-password.html">Forgot Password?</a>
									</div-->
									<div class="text-center">
										<a class="small" href="javascript:openRegistForm();">Create an Account!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
